@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.video{
    @include mob{
        margin-top: 24px;
        &__activevideo{
            width:98vw;
            height:50vh;
        }
    }
}